.vscode/
__pycache__/
*.pyc

# database files
*.db
*.sqlite3
*.db-wal
*.db-shm

# Trash
.trash/

# Reports
reports/

# Data Files
*.parquet
*.npy
*.csv
*.json
*.db
*.sqlite

# Specific large directories
data/processed/
data/raw/
models/

# Logs
logs/
*.log